<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Новости</h1>
    <h2>Всего новостей: {{ news|length }}</h2>
    <hr>
    {% if news %}
    <ul>
        {% for new in news %}
        <li><p align="left">
        <b><big>{{ new.title|censor }}</big></b>
        {{ new.creation_time }}
        {{ new.description|censor|truncatechars:20 }}
        {{ new.get_categoryType_display }}</p></li>
        {% endfor %}
    </ul>
    {% else %}
    <h2>Постов нет!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
           ...
            <a href="?page={{page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
           ...
            <a href="?page={{page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}